* {
    color: aliceblue;
}

body {
    background-color: rgba(77, 96, 156, 0.548);
    margin: 0;
    padding: 0
}


div, form {
   
    margin: 3px;
}

.container>div>div, form {
    background: rgb(36, 31, 33);
    background: radial-gradient(circle, rgb(47, 53, 81) 0%, rgb(19, 34, 52) 100%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgb(117, 117, 117);
}

button {
    margin: 5px;
}

img {
    width: 100%;
    height: auto;
}

h1 {
  
}

p {
    font-size: xx-small;
}

h2 {
  font-size: small;
}

h3, td {
    font-size: smaller;
}

.col1 {
    background-color: rgb(29, 73, 73);
}

.product, .response {
    background-color: rgba(0, 0, 0, 0.425);
}

header{
    background: linear-gradient(to top, transparent, rgb(33, 58, 88));
}
  


  .footer {
    background: linear-gradient(to bottom, transparent, rgb(19, 34, 52));
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-name {
    color: #ebe3e3;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #00bfff;
  }